{% extends 'base.html.twig' %}
{% block body %}
<h3>Vous êtes un :</h3>
<a href="{{path("inscription_form", {status:"pro"})}}">Professionnel</a>
<a href="{{path("inscription_form", {status:"part"})}}">Particulier</a>

{% endblock %}