<div class="card h-100">
    <img src="" class="card-img-top" alt="">
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ path('product.show', {slug: product.slug, id: product.id}) }}">
                {{ product.title }}
            </a>
        </h5>
        <p class="card-text">
            {{ product.shortDescription | nl2br }}
        </p>
        <div class="text-primary" style="font-size: 2rem; font-weight: bold;">
            {{ product.formattedPrice }} €
        </div>
    </div>
</div>