{% extends 'base.html.twig' %}

{% block title 'Green and Care' %}

{% block body %}
<div class="jumbotron text-center">
    <h1>L'ESPACE PRODUITS</h1>
    <p>Green and Care imagine et fabrique des produits d'entretien, de cosmétique et de bien-être sécurisants pour l'Homme et l'environnement.</p>
</div>
{% endblock %}