{% extends 'base.html.twig' %}
{% block body %}
    {% if error_siren is defined%}
        <span>{{ error_siren }}</span>
    {% endif %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Cree le compte" class="btn btn-succes">
    {{ form_end(form) }}

{% endblock %}