{% extends 'base.html.twig' %}

{% block body %}
    <h1>Connexion</h1>
    <form action="{{path("login")}}" method="POST">
        <div class="form-group">
            <input placeholder="Adresse mail" required name="_username" type="text">
        </div>
        <div class="form-group">
            <input placeholder="Mot de passe" required name="_password" type="password">
        </div>

        <div class="form-group">
<<<<<<< HEAD
            <button type="submit" class="btn btn-success">Se connecter</button>
=======
        <button type="submit" class="btn btn-success">Se connecter</button>
>>>>>>> c014c8c2a5ddff0a54800e95aa480d439d3ee775
        </div>
    </form>
{% endblock %}