{% extends 'admin/admin.base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1>Editer la sous-catégorie</h1>
        {{ include('admin/subCategory/_form.html.twig', {button: 'Enregistrer les modifications'}) }}
    </div>
{% endblock %}