{% extends 'base.html.twig' %}
{% block title 'Boutique en ligne - Produits entretien, cosmétiques, bien-être écologique | Green And Care' %}
{% block body %}
    <div class="container mt-4">
<h1>LA BOUTIQUE GREEN AND CARE</h1>
    </div>
{% endblock %}